Website_Tech_Scraper/Website_Tech_Scraper.json
{
  "name": "Website Scraping",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        220
      ],
      "id": "fdecc4ea-11fe-4af2-bdd0-9381aa2b43a6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1m9md-khdtiYLFzUVknXopGP8ZUkMVqmCEkMn-GH_HB8",
          "mode": "list",
          "cachedResultName": "Web Scraping website insteade of clay ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9md-khdtiYLFzUVknXopGP8ZUkMVqmCEkMn-GH_HB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9md-khdtiYLFzUVknXopGP8ZUkMVqmCEkMn-GH_HB8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        220
      ],
      "id": "483dbfea-1768-457b-9b48-74cd9b799722",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ym4Lo2KHJ35yC0qR",
          "name": "Khaled 54"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        220
      ],
      "id": "2e2e1bfc-b786-4a5e-ae46-a24a0bd8b1c7",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/https://builtwith.com/{{ $('Get row(s) in sheet').item.json['Company Domain'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        96
      ],
      "id": "889691c5-bfb1-4028-8fd0-ef510090e781",
      "name": "Tech Technologies Sourcing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Analyze the received content and identify only the technologies used by the company. Ignore all other information. Response format: Present the results as a structured list organized by categories. Each category will group similar technologies. Example classification:  Hosting & Servers: [Technology names] CMS & Content Management: [Technology names] Analysis & Tracking Tools: [Technology names] Security & Performance: [Technology names] Other technologies: [Technology names] Constraints:  Do not include irrelevant text (advertisements, external sources, etc.). Limit to technologies specific to the analyzed company. Provide a clear and concise response."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        896,
        96
      ],
      "id": "1995f675-e2ba-4038-a75d-4de3d08129c2",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        904,
        320
      ],
      "id": "17faf260-7eb3-42eb-bf1d-c44a57c396a2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YzNL02rIf3gFc48A",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"technologies\": {\n    \"Hosting & Servers\": [\n      \"Cloudflare\",\n      \"AWS CloudFront\"\n    ],\n    \"CMS & Content Management\": [\n      \"WordPress\"\n    ],\n    \"Analysis & Tracking Tools\": [\n      \"Google Analytics\",\n      \"Hotjar\"\n    ],\n    \"Security & Performance\": [\n      \"reCAPTCHA\",\n      \"SSL by Let's Encrypt\"\n    ],\n    \"Other technologies\": [\n      \"Google Tag Manager\",\n      \"Facebook Pixel\"\n    ]\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1032,
        320
      ],
      "id": "96732a1d-aab0-416f-a821-b74c8c6b00bb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1m9md-khdtiYLFzUVknXopGP8ZUkMVqmCEkMn-GH_HB8",
          "mode": "list",
          "cachedResultName": "Web Scraping website insteade of clay ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9md-khdtiYLFzUVknXopGP8ZUkMVqmCEkMn-GH_HB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m9md-khdtiYLFzUVknXopGP8ZUkMVqmCEkMn-GH_HB8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Domain": "={{ $('Get row(s) in sheet').item.json['Company Domain'] }}",
            "Hosting & Server": "={{ $json.output.technologies['Hosting & Servers'].join(\", \") }}",
            "CMS & Content Managment": "={{ $json.output.technologies['CMS & Content Management'].join(\", \") }}",
            "Analysis & Tracking Tools": "={{ $json.output.technologies['Analysis & Tracking Tools'].join(\", \") }}",
            "Secuirty & Performance": "={{ $json.output.technologies['Security & Performance'].join(\", \") }}",
            "Other Technologies": "={{ $json.output.technologies['Other technologies'].join(\", \") }}"
          },
          "matchingColumns": [
            "Company Domain"
          ],
          "schema": [
            {
              "id": "Company Domain",
              "displayName": "Company Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Hosting & Server",
              "displayName": "Hosting & Server",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CMS & Content Managment",
              "displayName": "CMS & Content Managment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Analysis & Tracking Tools",
              "displayName": "Analysis & Tracking Tools",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Secuirty & Performance",
              "displayName": "Secuirty & Performance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other Technologies",
              "displayName": "Other Technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        220
      ],
      "id": "09639823-98e8-47a1-b2f6-c022d4068936",
      "name": "Add Information",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ym4Lo2KHJ35yC0qR",
          "name": "Khaled 54"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Tech Technologies Sourcing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech Technologies Sourcing": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Add Information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Information": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54a6f944-b494-4661-927e-02f813f153ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1891129567fec51a84b71c89da633af32f4e17179fe279ec5bdbd364f7dfc6a5"
  },
  "id": "Li4xVwy2TIVTFeO0",
  "tags": []
}